:root {
    --primary: #eb834a;
    --secondary: #104671;
    --third: #9ec9d3;
    --bg: #0a0a0a;
    --shadow: 0 2px 2px rgba(0 0 0 / 0.5);
}

body {
    font-size: 1.2rem; /* 1.2 * 16px */
    font-family: "Work Sans", sans-serif;
    min-height: 4000px;
}

.hero::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url(img/IMG20240804114236.jpg);
    z-index: -1;
    filter: grayscale();
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
}

.hero {
    position: relative;
    min-height: 100vh; /* 100 view port height */
}

.hero h1, .hero h4, .hero p {
    text-shadow: var(--shadow);
}


.hero h1 {
    font-family: "Merienda", cursive;
    font-size: 6rem;
}

.hero h4 {
    font-size: 1.6rem;
}

.hero p {
    font-size: 1.4rem;
}

.hero a {
    color: var(--primary);
    background-color: white;
    box-shadow: var(--shadow);
}

.hero a:hover {
    background-color: var(--primary);
    color: white;
}

.mynavbar {
    background-color: rgba(255, 255, 255, 0.1) !important;
    backdrop-filter: blur(5px);
}

.mynavbar .offcanvas {
    height: 100vh;
}

.mynavbar .navbar-brand,
.mynavbar .offcanvas-title {
    font-family: "Merienda", cursive;
    font-size: 2.2rem;
    color: var(--primary);
}

.mynavbar .nav-link {
    text-transform: uppercase;
    color: var(--primary);
}

.home {
    background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.4)), url(img/9517412.jpg);
    background-size: cover;
    background-position: center; 
    background-repeat: no-repeat; 
    min-height: 100vh;
    margin-top: -5rem;
    padding-top: 15rem;
}

.home h2 {
    color: var(--primary);
    font-family: "Merienda";
    font-size: 3rem;
    font-weight: bold;
}

.home h3 {
    color: var(--secondary);
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.home p {
    font-size: 1rem;
    color: #444444;
}

.home .couple {
    margin-top: 50px;
}

.home .couple h3 {
    font-family: "Merienda";
    font-size: 1.6rem;
    color: var(--secondary);
}

.home .couple img {
    width: 100%;
    margin-bottom: 60px;
}

.home .heart {
    width: 50px;
    height: 50px;
    background-color: white;
    display: flex;
    border-radius: 50%;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    position: absolute;
    left: 50%;
    transform: translateX(-50%) translateY(65px);
}

.home .heart i {
    margin: auto;
    color: var(--primary);
}

.info {
    background-color: var(--secondary);
    color: white;
    padding-top: 10rem;
    padding-bottom: 8rem;
}

.info h2 {
    font-family: "Merienda";
    font-size: 3rem;
    font-weight: bold;
}

.info .address {
    font-size: 1.1rem;
}

.info .description {
    font-size: 1rem;
    font-weight: 300;
}

.info .card {
    background-color: rgba(255, 255, 255, 0.2);
    color: white;
    border: 1px solid #999;
}

.info .card-header {
    border-bottom: 1px solid #999;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
}

.info .card-body {
    font-size: 1rem;
}

.info .card-footer {
    border-top: 1px solid #999;
    font-size: 0.9rem;
    font-weight: 300;
}

.story {
    padding-top: 10rem;
    padding-bottom: 8rem;
    /* background-image: url(img/FLORAL_FRAME-02.jpeg);
    background-size: cover;
    background-position: center; 
    background-repeat: no-repeat;  */
}

.story h2 {
    color: var(--primary);
    font-family: "Merienda";
    font-size: 3rem;
    font-weight: bold;
}

.story span {
    text-transform: uppercase;
    color: #666;
    font-size: 0.9rem;
    letter-spacing: 1px;
    display: block;
    margin-bottom: 1rem;
}

.story p {
    font-size: 1rem;
    font-weight: 300;
}

.timeline {
    list-style: none;
    padding: 1.4rem 0;
    margin-top: 1rem;
    position: relative;
}

.timeline::before {
    content: '';
    top: 0;
    bottom: 0;
    position: absolute;
    width: 1px;
    background-color: #ccc;
    left: 50%;
}

.timeline li {
    margin-bottom: 1.5rem;
    position: relative;
}

.timeline li::before,
.timeline li::after {
    content: '';
    display: table;
}

.timeline li::after {
    clear: both;
}

.timeline li .timeline-image {
    width: 160px;
    height: 160px;
    background-color: #ccc;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 50%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.timeline li .timeline-panel {
    width: 40%;
    float: left;
    border: 1px solid #ccc;
    padding: 2rem;
    position: relative;
    border-radius: 10px;
    background-color: #fff;
}

.timeline li .timeline-panel::before {
    content: '';
    display: inline-block;
    position: absolute;
    border-top: 15px solid transparent;
    border-left: 15px solid #ccc;
    border-right: 0 solid #ccc;
    border-bottom: 15px solid transparent;
    top: 80px;
    right: -15px;
}

.timeline li .timeline-panel::after {
    content: '';
    position: absolute;
    display: inline-block;
    border-top: 14px solid transparent;
    border-left: 14px solid #fff;
    border-right: 0 solid #fff;
    border-bottom: 14px solid transparent;
    top: 81px;
    right: -13px;
    
}

.timeline li.timeline-inverted .timeline-panel {
    float: right;
}

.timeline li.timeline-inverted .timeline-panel::before {
    content: '';
    border-left: 0 solid #ccc;
    border-right: 15px solid #ccc;
    left: -15px;
    right: auto;
}

.timeline li.timeline-inverted .timeline-panel::after {
    content: '';
    border-left: 0 solid #fff;
    border-right: 15px solid #fff;
    left: -13px;
    right: auto;
}

.gallery {
    background-color: #f5f5f5;
    padding-top: 10rem;
    padding-bottom: 8rem;
}
.gallery h2 {
    color: var(--secondary);
    font-family: "Merienda";
    font-size: 3rem;
    font-weight: bold;
}

.gallery span {
    text-transform: uppercase;
    color: #666;
    font-size: 0.9rem;
    letter-spacing: 1px;
    display: block;
    margin-bottom: 1rem;
}

.gallery p {
    font-size: 1rem;
    font-weight: 300;
}

.rsvp {
    padding-top: 10rem;
    padding-bottom: 8rem;
}
.rsvp h2 {
    color: var(--primary);
    font-family: "Merienda";
    font-size: 3rem;
    font-weight: bold;
    letter-spacing: 10px;
}

.rsvp span {
    text-transform: uppercase;
    color: #666;
    font-size: 0.9rem;
    letter-spacing: 1px;
    display: block;
    margin-bottom: 1rem;
}

.rsvp p {
    font-size: 1rem;
    font-weight: 300;
}

.rsvp button {
    margin-top: 19px;
    background-color: var(--secondary);
    color: white;
    border: 1px solid var(--secondary);
}

.rsvp button:hover {
    background-color: white;
    color: var(--secondary);
    border: 1px solid var(--secondary);
}

.gifts {
    background-color: #f5f5f5;
    padding-top: 10rem;
    padding-bottom: 8rem;
}
.gifts h2 {
    color: var(--secondary);
    font-family: "Merienda";
    font-size: 3rem;
    font-weight: bold;
}

.gifts span {
    text-transform: uppercase;
    color: #666;
    font-size: 0.9rem;
    letter-spacing: 1px;
    display: block;
    margin-bottom: 1rem;
}

.gifts p {
    font-size: 1rem;
    font-weight: 300;
}

/* Media Query */
/* Extra Large */
@media (max-width: 1200px) {
    .home .heart {
        transform: translateX(-50%) translateY(45px);
    }

    .timeline li .timeline-image {
        width: 150px;
        height: 150px;
    }
}

/* Laptop */
@media (max-width: 992px) {
    html {
        font-size: 75%;
    }

    .simply-countdown > .simply-section {
        padding: 70px;
    }

    .home .heart {
        display: none;
    }

    .timeline::before {
        left: 60px;
    }

    .timeline li .timeline-image {
        left: 15px;
        margin-left: 45px;
        top: 16px;
    }

    .timeline li .timeline-panel {
        width: calc((100% - 200px));
        float: right;
    }

    .timeline li .timeline-panel::before {
        border-left-width: 0;
        border-right-width: 15px;
        left: -15px;
        top: 75px;
        right: auto;
    }

    .timeline li .timeline-panel::after {
        border-left-width: 0;
        border-right-width: 14px;
        left: -13px;
        top: 76px;
        right: auto;
    }
}

/* Tablet */
@media (max-width: 768px) {
    html {
        font-size: 65%;
    }

    .simply-countdown > .simply-section {
        padding: 60px;
        margin: 5px;
    }

    .mynavbar .nav-link {
        font-size: 2rem;
        text-align: center;
    }

    .sticky-top {
        overflow: hidden;
    }

    .timeline li .timeline-image {
        width: 140px;
        height: 140px;
    }

    .timeline li .timeline-panel::before {
        top: 60px;
    }

    .timeline li .timeline-panel::after {
        top: 61px;
    }
}

/* Mobile Phone */
@media (max-width: 576px) {
    html {
        font-size: 60%;
    }

    .simply-countdown > .simply-section {
        padding: 45px;
        margin: 3px;
    }

    .timeline li .timeline-image {
        width: 110px;
        height: 110px;
    }

    .timeline li .timeline-panel {
        width: 60%;
        transform: translateX(-10px);
    }
}

/* Mobile Phone */
@media (max-width: 404px) {
    html {
        font-size: 50%;
    }

    .simply-countdown > .simply-section {
        padding: 30px;
        margin: 1px;
    }

    .timeline li .timeline-panel {
        width: 55%;
        transform: translateX(-20px);
    }
}